@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
  color: #bfbfbf; /* Light gray for better visibility */
  opacity: 1; /* Ensure full visibility */
}

:-ms-input-placeholder {
  color: #bfbfbf; /* IE support */
}

::-ms-input-placeholder {
  color: #bfbfbf; /* Edge support */
}
