@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom style for placeholder text */
input::placeholder {
  color: #ffffff; /* White color for placeholder */
  opacity: 1; /* Full opacity */
}

input:-ms-input-placeholder {
  color: #ffffff; /* Internet Explorer 10+ */
}

input::-ms-input-placeholder {
  color: #ffffff; /* Microsoft Edge */
}

